### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Flycheck
flycheck_*.el

# Makefile for compiling files
Makefile

# Objects directory where to find the object files for compile
obj/

# Test files
pruebas/
main_pruebas.c
